html, body {
    height: 100%;
    background-size: cover;
	left:0;
}    
header {
    display:block;
    background-color:black;
	position: fixed;
	top:0
}
article {
   display:block;
   float: left;

   text-align: center;
}
div{
	text-align: center;
	vertical-align: middle;
}